@import "/css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Inter:wght@600&family=Open+Sans:wght@400;600;700&display=swap');

:root{
    --container-width:1440px;
    --container-padding:0px 40px 0px 40px;
    --text-dark: #403F3D;
    --text-accent: #B0907A;
    --background-body:#E1D4C9;
    --text-light: #E1D4C9;
    --border-dark: #665F55;
    --border-light: #C1B6AD;
}


body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background-body, #E1D4C9);
}
.none{
    display: none;
}
header{
    margin: 0 auto 100px auto;
    height: 724px;
}
header a{
    color: var(--text-dark);
}
.container{
    max-width: var(--container-width);
    padding: var(--container-padding);
    margin: 20px auto;
    display: block;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}
.logo{
    max-width: 100px;
}
.logo a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 60px;
}
.logo-eclipse{
    width: 38px;
    height: 38px;
    background-color: var(--text-accent);
    border-radius: 100px;
    position: absolute;
    
}
.logo-resourse{
    max-width: 200%;  
    position: absolute;
    right: -40%;
    top: 20%; 
}
.logo-coffee{
    position: absolute;
    top: 64px;
}
.nav{
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    font-size: 16px;
    font-weight: 600;
}
.header-hero{
    height: 644px;
}
.nav a{
    position: relative;
}
.nav a.active::after,
.nav a:hover::after{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    background-color: var(--text-dark);
    height: 2px;
}

.coffee-menu{
    display: flex;
    justify-content: center;
    column-gap: 8px;  
    align-items: center; 
    
}
.coffee-menu a{
    position: relative;
}
.coffee-menu a.active::after,
.coffee-menu a:hover::after{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    background-color: var(--text-dark);
    height: 1px;
}
.header-hero{
    background-image: url(/img/hero.jpg);
    max-width: 1360px;
    padding: 100px;
    border-radius: 40px;
    margin-bottom: 100px;
}
.header-offer{
    max-width: 530px;
    max-height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1{
    font-size: 72px ;
    font-weight: 600;
    color: var(--text-light);
    margin-bottom: 40px;
    line-height: 75.6px;
}

h1 span,
h2 span{
    color:var(--text-accent);
    font-style: italic;
}
.header-text{
    margin-bottom: 40px;
    color: var(--text-light, #E1D4C9);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
    
}
.btn{
    display: inline-block;
    max-width: 200px;
    padding: 20px 78px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: var(--background-body);
    font-size: 16px;
    font-weight: 600;
    color: var(--text-dark);
    column-gap: 8px;
}

.header-offer a img{
    display: none;
}
.header-offer a img:hover{
    display: flex;
}

.favourite{
    max-height: 799px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
h2 {
    color: var(--text-dark);
    font-size: 60px;
    font-weight: 600;
}

.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 684px;
    column-gap: 40px;
}

.slider-card{
    display: flex;
    /* min-width: 480px;
    max-width: 1162px; */
    width: 480px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.arrow{
    border-radius: 100px;
    border: 1px solid var(--text-dark);
    width: 60px;
    height: 60px;
    position: relative;
}
.arrow:hover{
    background-color: var(--border-dark);
    color: var(--text-light);   
}
.right.arrow :hover{
    background: url(/img/arrow-light.svg);
}
.left.arrow :hover{
    background: url(/img/arrow-light.svg);
    transform: rotate(180deg);
    display: none;
}

.arrow img {
    position: absolute;
    top: 18px;
    left: 18px
}

.slider-card img{
    max-width: 480px;
    max-height: 480px;
    margin-bottom: 20px;
}

.coffee-name{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.coffee-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 24px
}
.coffee-price{
    font-size: 24px;
    font-weight: 600;  
}

.pagination{
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
    height: 40px;
    justify-content: center;
}
.control{
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-light);
}
.control.active{
    background: var(--border-dark);
}

.about{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.about-text{
    line-height: 75px;
    margin-bottom: 40px;
}
.about-images{
    max-width: 1360px;
    display: flex;
    column-gap: 40px;
}
.image-item{
    border-radius: 20px;
    object-fit: cover;
}
.top-left, .top-right{
    margin-bottom: 40px;
}
.top-left, .bottom-right{
    height: 726px;
    width: 660px;
}
.bottom-left, .top-right{
    height: 430px;
    width: 660px;
}

.mobile{
    max-height: 630px;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    margin-top: 100px;
}
.mobile-left, .mobile-right{
    max-width: 630px;
}
.mobile-left{
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.mobile-offer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.mobile-offer h2{
    margin-bottom: 40px;
}
.mobile-text{
    margin-bottom: 40px;
    font-size: 16px;    
    font-weight: 400;
    line-height: 24px; 
}
.mobile-button{
    display: flex;
    column-gap: 20px;
}
.btn-store{
    display: flex;
    width: 200px;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
    padding: 12px 20px;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
    line-height:14px;
}
.btn-store:hover{
    background-color: var(--border-dark);
    color: var(--text-light);
}
.none:hover{
    display: block;

}
.visible:hover{
    display: none;
}
.app-top{
    font-size: 10px;
}
.app-bottom{
    font-size:16px;
}

.footer{
    border-radius: 40px;
    background: var(--border-dark);
    height: 450px;
    max-width: 1360px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}
.offer-text h2{
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    margin-bottom: 40px;
}
.offer-social{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.social-icon{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-light);
}
.social-icon:hover{
    background-color:  var(--border-light);;

}

.offer, .contacts{
    max-width: 530px;
} 
.contacts{
    width: 530px;
} 

.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.contacts-title{
    margin-bottom: 40px;
}
.contacts p{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: var(--text-light);
    column-gap: 8px;
    
}
.address{
    display: flex;
    column-gap: 8px;
    margin-bottom: 16px;
    align-items: center;
}
.address p{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px
}
a[href^="tel:"] {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    color: var(--text-light);
    column-gap: 8px;
}
.telephone{
    display: flex;
    column-gap: 8px;
    margin-bottom: 16px;
}
.hours{
    display: flex;
    column-gap: 8px;
    color: var(--text-light);
}
.hours p{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px
}
.menu{
    max-height: 728px;
}
.menu-offer h2{
    color: var(--text-dark);
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
}
.menu-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
}